<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT
		  FROM TORDER
		  
	</entry>
	
	<!-- 마이페이지 예약조회, 취소리스트 조회 -->
	<entry key="selectOrderList">
		SELECT
		        ORDER_NO
		      , ORDER_DATE
		      , AMOUNT
		      , TRAVEL_DATE
		      , MEM_NAME
		      , TRAVEL_EMAIL
		      , O.STATUS
		      , C_REASON
		      , MEM_NO
		      , P_NAME
		      , p_CODE
		      , BASIC_PATH
		  FROM TORDER O
		  JOIN MEMBER M USING (MEM_NO)
          JOIN PRODUCT P USING (P_CODE)
         ORDER
            BY ORDER_DATE DESC
	</entry>
	
	<!-- 페이징처리된거 조회 -->
	<entry key="selectList">
		SELECT 
				*
		  FROM (
		        SELECT 
		                ROWNUM RNUM
		              , A.*
		        FROM (
		                SELECT
						        ORDER_NO
						      , ORDER_DATE
						      , AMOUNT
						      , TRAVEL_DATE
						      , MEM_NAME
						      , TRAVEL_EMAIL
						      , O.STATUS
						      , C_REASON
						      , MEM_NO
						      , P_NAME
		                   FROM TORDER O
                           JOIN MEMBER M USING (MEM_NO)
                           JOIN PRODUCT P USING (P_CODE)
                          ORDER
 		    				 BY ORDER_DATE DESC 
		               )A
		        )
		 WHERE RNUM BETWEEN ? AND ?
		 ORDER 
		    BY ORDER_DATE DESC
	</entry>
	
	<!-- 관리자 페이지 내 주문내역관리 INSERT -->
	<entry key="insertOrder">
		INSERT
		  INTO TORDER
		  (
		    ORDER_NO
		  , ORDER_DATE
		  , AMOUNT
		  , TRAVEL_DATE
		  , TRAVEL_USER
		  , TRAVEL_EMAIL
		  , STATUS
		  , MEM_NO
		  , P_CODE
		  )
		VALUES
		 ( 
		   SEQ_ONO.NEXTVAL
		 , SYSDATE
		 , ?
		 , ?
		 , ?
		 , ?
		 , '예약접수'
		 , ?
		 , ?
 		 )
 		 
	</entry>
	
	<entry key="selectOrdeNo">
		SELECT SEQ_ONO.CURRVAL 
		  FROM DUAL
	</entry>
	
	
	<entry key="orderCount">
		SELECT COUNT(*) COUNT
		  FROM TORDER
		 WHERE MEM_NO = ?
		   AND P_CODE = ?
	</entry>
	
	
	
	<!-- 마이페이지에서 조회되는 주문내역 -->
	<entry key = "selectOrder">
		 SELECT
				ORDER_NO
		      , ORDER_DATE
		      , AMOUNT
		      , TRAVEL_DATE
		      , TRAVEL_USER
		      , TRAVEL_EMAIL
		      , O.STATUS STATUS
		      , MEM_NO
		      , P_CODE
		      
		        
		   FROM TORDER O
		   JOIN MEMBER USING(MEM_NO)

	</entry>
	
	<!-- 예약상세내역페이지에서 조회되는 sql -->
	<entry key="selectReservation">
		SELECT
		        ORDER_NO
		      , ORDER_DATE
		      , AMOUNT
		      , TRAVEL_DATE
		      , TRAVEL_USER
		      , TRAVEL_EMAIL
		      , O.STATUS STATUS
		      , MEM_NO
		      , P_CODE
		      , p_NAME
		  FROM TORDER O
		  JOIN MEMBER M USING (MEM_NO)
          JOIN PRODUCT P USING (P_CODE)
         WHERE ORDER_NO = ?
	</entry>
	
	
	
	<!-- 예약상세페이지에서 주문상태 취소로 변경하는 sql -->
	
	<entry key="updateOrder">
		UPDATE
				TORDER
		   SET	C_REASON =?
		     ,  STATUS = '취소'
		 WHERE	P_CODE = ?
		   AND	MEM_NO = ?
		   			 
	</entry>
	
	<!-- 마이페이지 예약조회에서 즉시취소 되는 sql  -->
	<entry key="deleteOrder">
		DELETE
		  FROM
			   TORDER
		 WHERE  
		       ORDER_NO = ?
	</entry>
	
	
	<!-- 주문내역관리페이지에서 상태를 변경하는 sql -->
	<entry key="updateChangeOrder">
		UPDATE
				TORDER
		   SET	STATUS = ?
		 WHERE	ORDER_NO = ?
		   
		   			 
	</entry>
	
	<!-- 주문번호로 검색 -->
	
	<entry key="searchOrderNo">
		SELECT
		        ORDER_NO
		      , ORDER_DATE
		      , AMOUNT
		      , TRAVEL_DATE
		      , TRAVEL_USER
		      , TRAVEL_EMAIL
		      , O.STATUS STATUS
		      , MEM_NO
		      , P_CODE
		      , p_NAME
		  FROM TORDER O
		  JOIN MEMBER M USING (MEM_NO)
          JOIN PRODUCT P USING (P_CODE)
         WHERE ORDER_NO LIKE ?
	</entry>
	
	<!-- 회원번호로 검색 -->
	
	<entry key="searchMemNo">
		SELECT
		        ORDER_NO
		      , ORDER_DATE
		      , AMOUNT
		      , TRAVEL_DATE
		      , TRAVEL_USER
		      , TRAVEL_EMAIL
		      , O.STATUS STATUS
		      , MEM_NO
		      , P_CODE
		      , p_NAME
		  FROM TORDER O
		  JOIN MEMBER M USING (MEM_NO)
          JOIN PRODUCT P USING (P_CODE)
         WHERE MEM_NO LIKE ?
	</entry>
</properties>



