<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectOrderList">
		SELECT
		        ORDER_NO
		      , ORDER_DATE
		      , AMOUNT
		      , TRAVEL_DATE
		      , MEM_NAME
		      , TRAVEL_EMAIL
		      , O.STATUS
		      , C_REASON
		      , MEM_NO
		  FROM TORDER O
		  JOIN MEMBER M USING (MEM_NO)	  
	</entry>
	
	
	
</properties>



