<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!-- 총 게시글 조회  -->
	<entry key="selectListCount">
		SELECT 
			   COUNT(*) LISTCOUNT
		  FROM 
		       MYQ
	</entry>
	
<!-- 게시글 리스트 조회 -->
	<entry key="selectListAdmin">
		SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , Q.*
		          FROM (
		                SELECT 
		                       MYQ_NO
		                     , MYQ_CATEGORY
		                     , MYQ_TITLE
		                     , MYQ_ENROLL_DATE
		                     , MYQ_ANS_DATE
		                     , MEM_ID
                             , P_CODE
                             , MYQ_ANS_CONTENT
                             , P_NAME
		                  FROM 
		                  	   MYQ 
		                  JOIN MEMBER USING (MEM_NO)
		             LEFT JOIN PRODUCT USING (P_CODE)
                      ORDER BY 
                               MYQ_NO DESC	
		                ) Q
		        ) 
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectDetailAdmin">
		SELECT 
			   MYQ_NO
			 , MYQ_CATEGORY
			 , MYQ_TITLE
			 , MYQ_CONTENT
			 , MYQ_ENROLL_DATE
			 , MYQ_ANS_CONTENT
			 , MYQ_ANS_DATE
			 , MEM_NO
			 , P_CODE
			 , MEM_ID
			 , P_NAME
			 , MEM_NAME
		  FROM 
		       MYQ 
		  JOIN 
		       MEMBER USING (MEM_NO)
	 LEFT JOIN 
	           PRODUCT USING (P_CODE)
	     WHERE 
	           MYQ_NO = ? 
	</entry>

	<entry key="selectAttachmentAdmin">
		SELECT 
			   FILE_NO
			 , ORG_FILENAME
			 , MDF_FILENAME
			 , FILE_PATH
			 , REF_BOARD_TYPE
			 , REF_BOARD_NO
			 , MYQ_NO
			 , P_CODE
		  FROM 
		       ATTACHMENT
		 WHERE 
			   MYQ_NO = ?
	</entry>

	<entry key="answer">
		 UPDATE 
		 	    MYQ
		    SET
		        MYQ_ANS_CONTENT =? 
			  , MYQ_ANS_DATE = SYSDATE
		  WHERE 
		        MYQ_NO = ?
	</entry>
	
	<entry key="selectListCountUser">
		SELECT 
		   	   COUNT(*) LISTCOUNT
	  	  FROM 
	       	   MYQ
	      JOIN MEMBER USING (MEM_NO)
	     WHERE 
	           MEM_ID = ? 	       	   
	</entry>
	
	
	<entry key="selectListUser">
		SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , Q.*
		          FROM (
		                SELECT 
		                       MYQ_NO
		                     , MYQ_CATEGORY
		                     , MYQ_TITLE
		                     , MYQ_ENROLL_DATE
		                     , MYQ_ANS_DATE
		                     , MEM_ID
                             , P_CODE
                             , MYQ_ANS_CONTENT
                             , P_NAME
		                  FROM 
		                  	   MYQ 
		                  JOIN MEMBER USING (MEM_NO)
		             LEFT JOIN PRODUCT USING (P_CODE)
		                 WHERE MEM_ID = ?
                      ORDER BY 
                               MYQ_NO DESC	
		                ) Q
		        ) 
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectDetailUser">
			SELECT 
				   MYQ_NO
				 , MYQ_CATEGORY
				 , MYQ_TITLE
				 , MYQ_CONTENT
				 , MYQ_ENROLL_DATE
				 , MYQ_ANS_CONTENT
				 , MYQ_ANS_DATE
				 , MEM_NO
				 , P_CODE
				 , MEM_ID
				 , P_NAME
				 , MEM_NAME
			  FROM 
			       MYQ 
			  JOIN 
			       MEMBER USING (MEM_NO)
		 LEFT JOIN 
		           PRODUCT USING (P_CODE)
		     WHERE 
		           MYQ_NO = ? 
	</entry>
	
	<entry key="selectAttachmentUser">
			SELECT 
				   FILE_NO
				 , ORG_FILENAME
				 , MDF_FILENAME
				 , FILE_PATH
				 , REF_BOARD_TYPE
				 , REF_BOARD_NO
				 , MYQ_NO
				 , P_CODE
			  FROM 
			       ATTACHMENT
			 WHERE 
			       MYQ_NO = ?
	</entry>
	
	
	<entry key="insertUser">
		 	INSERT 
		   	  INTO MYQ
		   	     (
		           MYQ_NO
				 , MYQ_CATEGORY
			     , MYQ_TITLE
				 , MYQ_CONTENT
				 , MYQ_ENROLL_DATE
				 , MEM_NO
				 )
		    VALUES 
				 ( 
				   SEQ_MQNO.NEXTVAL
				 , ?
				 , ?
				 , ?
				 , SYSDATE
				 , ?
		         )
	</entry>
	
	
	<entry key="insertUserAttachment">
		INSERT 
			INTO ATTACHMENT
			(
				FILE_NO
			  , ORG_FILENAME
			  , MDF_FILENAME
			  , FILE_PATH
			  , MYQ_NO
			)
			VALUES
			(
			    SEQ_FNO.NEXTVAL
			  , ?
			  , ?
			  , ? 
			  , SEQ_MQNO.CURRVAL
			)
	</entry>
	
	<entry key="selectProduct">
		SELECT 
		       P_NAME
		     , P_CODE
		  FROM 
		       PRODUCT
		 WHERE	
		       P_CODE = ?

	</entry>
	
		<entry key="insertProductUser">
		 	INSERT 
		   	  INTO MYQ
		   	     (
		           MYQ_NO
				 , MYQ_CATEGORY
			     , MYQ_TITLE
				 , MYQ_CONTENT
				 , MYQ_ENROLL_DATE
				 , MEM_NO
				 , P_CODE
				 )
		    VALUES 
				 ( 
				   SEQ_MQNO.NEXTVAL
				 , ?
				 , ?
				 , ?
				 , SYSDATE
				 , ?
				 , ?
		         )
	</entry>
	
	<entry key="deleteUserAttachment">
		DELETE 
		  FROM 
		       ATTACHMENT
         WHERE 
               MYQ_NO IN ( ? )
		
	</entry>
	
	<entry key="deleteUserMYQ">
		DELETE 
		  FROM 
		       MYQ
         WHERE 
               MYQ_NO IN (  ?  )
	</entry>
</properties>