@charset "UTF-8";

  
/* *{border: 1px solid pink;} */

.outer{
  height: 900px;
  width: 700px;
  margin: 50px 50px;
  /* margin-top: 50px;
  margin-left: 50px; */
  margin-left: 20px;
}

/* 검색바 */


/* 구분선 */
.divisionLine{ 
  width: 100%; height: 5px; 
  background-color: lightgray; 
}
.listArea{margin: 100px 20px;} /*상하:100px, 좌우:20*/

    /* 테이블 */
#productListView{
  width: 800px;
  margin: auto;
  margin-top: 20px;
  font-size: 14px;
  text-align: center; 
  border: 1px solid silver;
  
}

/* 버튼 */

.btn a{ 
  text-align: center;
  border-radius: 5px;
  float:right;
  position: relative;
  left: 650px;
  margin-left: 5px;
}

/* 페이징 구역 */
#pagingArea{
  margin: auto;
  position: relative;
  left: 350px;
}
#pagingArea *{margin-right: 5px;}
