<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 공지사항 전체 글 수 조회 -->
	<entry key="selectListCount">	
		SELECT COUNT(*) LISTCOUNT
		  FROM NOTICE
		 WHERE NOTICE_STATUS = 'Y'
	</entry>
	
	
	<!-- 해당 페이지의 공지사항 리스트 조회 -->
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , ENROLL_DATE
		                     , NOTICE_COUNT
		                     , ORG_FILENAME
                     		 , FILE_PATH
		                  FROM NOTICE
		                 WHERE NOTICE_STATUS = 'Y'
		                 ORDER
		                    BY ENROLL_DATE DESC
		               )A  
		       )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
		<!-- 공지사항 등록 -->
	<entry key="insertNotice">
		INSERT
		  INTO NOTICE
		  (
		    NOTICE_NO
		  , NOTICE_TITLE
		  , NOTICE_CONTENT
		  , ORG_FILENAME
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_NNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	
	<!-- 공지사항 조회수 증가 -->
	<entry key="increaseCount">
		UPDATE
		       NOTICE
		   SET NOTICE_COUNT = NOTICE_COUNT + 1
		 WHERE NOTICE_NO = ?
		   AND NOTICE_STATUS = 'Y'
	</entry>
	
	<!-- 공지사항 상세조회  -->
	<entry key="selectNotice">
		SELECT
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , ENROLL_DATE
		     , ORG_FILENAME
		     , FILE_PATH
		  FROM NOTICE
		 WHERE NOTICE_STATUS = 'Y'
		   AND NOTICE_NO = ?
	</entry>
	
	<!-- 공지사항 업데이트 (첨부파일이 있는 경우)-->
	<entry key="updateNotice1">
		UPDATE
		       NOTICE
		   SET NOTICE_TITLE = ?
		     , NOTICE_CONTENT = ?
		     , MODIFY_DATE = SYSDATE
		     , ORG_FILENAME = ?
		     , FILE_PATH = ?
		 WHERE NOTICE_NO = ?
	</entry>
	

	<!-- 공지사항 업데이트 (첨부파일이 없는 경우) -->
	<entry key="updateNotice2">
		UPDATE
		       NOTICE
		   SET NOTICE_TITLE = ?
		     , NOTICE_CONTENT = ?
		     , MODIFY_DATE = SYSDATE
		 WHERE NOTICE_NO = ?
	</entry>
	
	
	<!-- 공지사항 삭제 -->
	<entry key="deleteNotice">
		UPDATE NOTICE
		   SET NOTICE_STATUS = 'N'
		 WHERE NOTICE_NO = ?
	</entry>
	
	<!-- 임시 -->
	<!-- 공지사항 검색(카테고리:제목) -->
	<entry key="searchNoticeTitle">
		SELECT
               NOTICE_NO
             , NOTICE_TITLE
             , ENROLL_DATE
             , NOTICE_COUNT
             , ORG_FILENAME
             , FILE_PATH
          FROM NOTICE
         WHERE NOTICE_STATUS = 'Y'
           AND NOTICE_TITLE LIKE ?
         ORDER
            BY ENROLL_DATE DESC
	</entry>
	
	
	<!-- 공지사항 검색(카테고리:내용) -->
	<entry key="searchNoticeContent">
		SELECT
               NOTICE_NO
             , NOTICE_TITLE
             , ENROLL_DATE
             , NOTICE_COUNT
             , ORG_FILENAME
             , FILE_PATH
          FROM NOTICE
         WHERE NOTICE_STATUS = 'Y'
           AND NOTICE_CONTENT LIKE ?
         ORDER
            BY ENROLL_DATE DESC
	</entry>
	
	<!-- 공지사항 검색(카테고리:제목+내용) -->
	<entry key="searchNoticeTitleContent">
		SELECT
               NOTICE_NO
             , NOTICE_TITLE
             , ENROLL_DATE
             , NOTICE_COUNT
             , ORG_FILENAME
             , FILE_PATH
          FROM NOTICE
         WHERE NOTICE_STATUS = 'Y'
           AND NOTICE_TITLE LIKE ?
            OR NOTICE_CONTENT LIKE ?
         ORDER
            BY ENROLL_DATE DESC
	</entry>
	
	
</properties>