    
/* *{border: 1px solid red;} */

.outer{
    height: 890px; width: 800px;
    margin: 20px;

}
.title{font-size: 24px; font-weight: bold;}
.divisionLine{
    width: 800px; height: 5px;  
    background-color: lightgray;
    margin-top: 10px;
}    

/*상세보기폼*/
#detailForm table{margin: 30px; width: 750px;}
#detailForm th{width: 70px; text-align: center;}
#detailForm td{padding-left: 10px;}
/* 입력폼 */
#pdfEnrollForm table {margin:30px 30px;}         
#pdfEnrollForm input{margin:10px; border: 1px solid silver;}
select, span{margin-left: 10px;}


               
/* 버튼 */
.btnArea{width: 690px; margin: 100px 70px}
.btnArea div:hover{background-color: orange;}
#btnEnroll:hover{background-color: orange;}
#btnEnroll{border: none;}

.btnArea a, #btnEnroll a{
    text-decoration: none; 
    color:white; 

    line-height: 25px;
    display: block;
  }

  .btnArea div, #btnEnroll{ 
    background-color: dimgray;
    width: 100px;    
    height: 30px;
    text-align: center;
    border-radius: 5px;
    float:right;
    margin-left: 30px;
  }
            

  /* modal */

  #updateBtn:hover, #go:hover, #back:hover{background-color: orange;}        
  #go, #back {background-color: dimgray; color: white;} 
  
  /* table*/

  #detailArea p{height:150px;}