<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<!-- [민국] 로그인 -->
	<entry key="loginMember">
		SELECT 
			   MEM_NO
			 , MEM_ID
			 , MEM_PWD
			 , MEM_NAME
			 , PHONE
			 , EMAIL
			 , MEM_BIRTH
			 , ENROLL_DATE
			 , MODIFY_DATE
			 , STATUS
		  FROM 
		  	   MEMBER
		 WHERE 
		   (STATUS = 'Y' OR STATUS = 'A')
		   AND MEM_ID = ?
		   AND MEM_PWD = ?
	</entry>
	<!-- [민국] 아이디 찾기: 핸드폰번호 == 이름 체크여부 -->
	<entry key="idFindCheck">
		SELECT 
		       MEM_NAME
		     , MEM_ID
		     , PHONE
		  FROM 
		       MEMBER 
		 WHERE 
		       MEM_NAME = ?
		   AND PHONE = ?
	</entry>
	
	<!-- [민국] 비밀번호 찾기: 핸드폰번호 == 이름, 아이디 체크여부 -->
	<entry key="pwFindCheck">
		SELECT 
		       MEM_NAME
		     , MEM_ID
		     , MEM_PWD
		     , PHONE
		  FROM 
		       MEMBER 
		 WHERE
		 	   MEM_ID = ?
 		   AND MEM_NAME = ?
		   AND PHONE = ?
		   
	</entry>
	
	
	<!-- [휘경] 관리자 페이지에서 관리자로 로그인 -->
	<entry key="AdminLogin">
		SELECT 
		       MEM_NO
		     , MEM_ID
		     , MEM_PWD
		     , MEM_NAME
		     , PHONE
		     , EMAIL
		     , MEM_BIRTH
		     , ENROLL_DATE
		     , MODIFY_DATE
		     , STATUS
		  FROM
		       MEMBER
		 WHERE 
		       STATUS = 'A'
		   AND MEM_ID = ?
		   AND MEM_PWD = ?		
	</entry>
	
	
	<!-- 민국(회원가입) -->
	<entry key="insertMember">
		INSERT
		  INTO MEMBER
		       (
		         MEM_NO
		       , MEM_ID
		       , MEM_PWD
		       , MEM_NAME
		       , PHONE
		       , EMAIL
		       , MEM_BIRTH
		       )
		 VALUES
		       (
		         SEQ_MNO.NEXTVAL
		       , ?
		       , ?
		       , ?
		       , ?
		       , ?
		       , ?
		       )
	</entry>
	
	
	<!-- [민국] 아이디체크 memId가 있으면 1로 조회하게끔-->
	<entry key="checkId">
		SELECT 
		       COUNT(*) "COUNT"
		  FROM MEMBER
		 WHERE MEM_ID = ?
	</entry>
	
	
	<!-- [휘경] 멤버 수 조회(활동회원) -->
	<entry key="selectMemberCount">
		SELECT COUNT(*) MEMBERCOUNT
		  FROM MEMBER
		 WHERE STATUS = 'Y'
	</entry>
	
	
	<!-- [휘경] 해당 페이지의 멤버 리스트 조회(활동회원, 관리자) -->
	<entry key="selectList">
		SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       MEM_NO
		                     , MEM_ID
		                     , MEM_NAME
		                     , EMAIL
		                     , PHONE
                     		 , ENROLL_DATE
		                  FROM MEMBER
		                 WHERE STATUS = 'Y'
		                 ORDER
		                    BY ENROLL_DATE DESC
		               )A  
		       )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<!-- [휘경] 회원 상세조회 -->
	<entry key="selectMember">
		SELECT
		       MEM_NO
			 , MEM_ID
			 , MEM_PWD
			 , MEM_NAME
			 , PHONE
			 , EMAIL
			 , MEM_BIRTH
			 , ENROLL_DATE
			 , MODIFY_DATE
			 , STATUS
		  FROM MEMBER
		 WHERE STATUS IN ('A', 'Y', 'B')
		   AND MEM_NO = ?
	</entry>
	
	
	<!-- [휘경] 관리자 권한으로 비밀번호 초기화 -->
	<entry key="resetPwd">
		UPDATE
			MEMBER
		       SET MEM_PWD = MEM_ID	  
		  WHERE MEM_NO = ?
	</entry>
	
	
	<!-- [휘경] 관리자 회원정보변경 -->
	<entry key="updateMember">
		UPDATE MEMBER
		   SET MEM_NAME = ?
		     , PHONE = ?
		     , EMAIL = ?
		     , MEM_BIRTH = ?
		     , MODIFY_DATE = SYSDATE
		 WHERE MEM_NO = ?
	</entry>
	
	
	<!-- [휘경] 회원탈퇴처리 -->
	<entry key="deleteMember">
		UPDATE MEMBER
		   SET STATUS = 'N'
		 WHERE MEM_NO = ?
	</entry>
	
	
	<!-- [휘경] 사용자 비밀번호 변경 -->
	<entry key="updatePwd">
		UPDATE
		       MEMBER
		   SET MEM_PWD = ?
		 WHERE MEM_NO = ?
		   AND MEM_PWD = ?	
	</entry>
	
	
	<!-- [휘경] 관리자 멤버 검색(카테고리:아이디) -->
	<entry key="searchMemberId">
		SELECT
               MEM_NO
             , MEM_ID
             , MEM_NAME
             , EMAIL
             , PHONE
             , ENROLL_DATE
          FROM MEMBER
         WHERE STATUS IN ('A', 'Y')
           AND MEM_ID LIKE ?
         ORDER
            BY ENROLL_DATE DESC
	</entry>
	
	<!-- [휘경] 관리자 멤버 검색(카테고리:이름) -->
	<entry key="searchMemberName">
		SELECT
               MEM_NO
             , MEM_ID
             , MEM_NAME
             , EMAIL
             , PHONE
             , ENROLL_DATE
          FROM MEMBER
         WHERE STATUS IN ('A', 'Y')
           AND MEM_NAME LIKE ?
         ORDER
            BY ENROLL_DATE DESC
	</entry>
	
	<!-- [휘경] 관리자 멤버 검색(카테고리:전화번호) -->
	<entry key="searchMemberPhone">
		SELECT
               MEM_NO
             , MEM_ID
             , MEM_NAME
             , EMAIL
             , PHONE
             , ENROLL_DATE
          FROM MEMBER
         WHERE STATUS IN ('A', 'Y')
           AND PHONE LIKE ?
         ORDER
            BY ENROLL_DATE DESC
	</entry>
	
	
	<!-- [휘경] 관리자 멤버 검색(상태) -->
	<entry key="searchMember2">
		SELECT
               MEM_NO
             , MEM_ID
             , MEM_NAME
             , EMAIL
             , PHONE
             , ENROLL_DATE
          FROM MEMBER
         WHERE STATUS = ?
         ORDER
            BY ENROLL_DATE DESC
	</entry>
	
	
	<!-- [휘경] 멤버 수 조회(상태별) -->
	<entry key="selectMemberCount2">
		SELECT COUNT(*) MEMBERCOUNT
		  FROM MEMBER
		 WHERE STATUS =?
	</entry>
	
	
	
	<!-- [휘경] 해당 페이지의 멤버 리스트 조회(상태별) -->
	<entry key="selectList2">
		SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       MEM_NO
		                     , MEM_ID
		                     , MEM_NAME
		                     , EMAIL
		                     , PHONE
                     		 , ENROLL_DATE
		                  FROM MEMBER
		                 WHERE STATUS = ?
		                 ORDER
		                    BY ENROLL_DATE DESC
		               )A  
		       )
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
</properties>



