div{border: 1px slid gray; box-sizing: border-box;}
ul, li, em{list-style: none;}
ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    }
li{display: list-item;}
*{box-sizing: border-box;}

a{text-decoration: none; margin: -30px;}
.wrap{width: 1000px;  margin: auto;}

.wrap>div{width: 100%;}
.content{height: 100%;}


.content>div{height: 100%; float: left;}
.content_1{width: 25%;}
.content_2{width: 75%;}

#Menu a{
    padding-top: 10px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -1px;
    color: black;
    margin-left: -2px;
    }
.content_1 li a{
    font-size: 13px;
    color: black;
    letter-spacing: -0.8px;
    }
.content_1 li a:hover, #Menu a:hover{color: orange;}
.mypageStep {
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    background-color: lightgray;
    }
.mypageStep li {
    float: left;
    position: relative;
    width: 20%;
    height: 117px;
    font-size: 20px;
    line-height: 6;
    }
.mypageStep li:first-child {background: none;}
.mypageStep em{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 25px;
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    }    
.mypageStep span{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 70px;
    font-size: 16px;
    line-height: 22px;
    }

.user{
    font-size: 14px;
    line-height: 20px;
    position: relative;
    height: 51px;
    padding: 8px 0 0 30px;
    background-color: orange;
    }
.welcome{
    margin: 0;
    padding: 0;
    float: left;
    margin-left: -20px;
    font-size: 18px;
    line-height: 3px;
    font-weight: 700;

    }

#count{
    word-spacing: -1px;
    text-align: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
    font-size: 30px;
    color: orange;
    font-style: normal;
    }

.unit{
    font-size: 20px;
    font-style: normal;

    }

.Information{
    margin: 20px;
    font-size: small;
    color: gray;
}

.write-btn{width: 700px; margin: 0px auto; padding: 10px;}

/* 리뷰 타이틀 */
.myreview-title{
    margin: 10px;
    margin-top: 0px;
    font-size: larger;
    font-weight: 800;
}

/* 리뷰건수 타이틀 */

.review-sum{margin: 5px;}
.review-sum > span {
    font-size: larger;
    font-weight: 700;
}

.table-review img{
    width: 100px; 
    padding: 5px;
    

}

.table-review * {padding: 5px;   cursor:pointer; margin-top: 21px;}

.write-btn{width: 700px; margin: 0px auto; padding: 10px;}

.write-btn li {
    width: 300px;
}
tbody p {
    padding: 10px;
}
.product_title{ margin-top: -10px;}
