<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">


<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT 
			   FROM PRODUCT	
	</entry>

	<entry key="selectProductList">
		SELECT 
		        P_CODE
		      , P_NAME
		      , PRICE
		      , P_STOCK
		      , P_STATUS
		   FROM PRODUCT 
		  ORDER
		     BY P_CODE DESC
	</entry>

	<entry key="insertProduct">
		INSERT 
		  INTO PRODUCT
		  (
		       LOCAL_CODE
		     , THEME_CODE 		  
		     , P_CODE
		     , P_NAME
		     , DEATIL_PATH		     
		     , PRICE 
		     , P_STOCK
		     , BASIC_PATH
		  )
		  VALUES
		  (
		    , ?
		    , ?
		    , 'JEJUWA'||LPAD(SEQ_PNO.NEXTVAL, 5, '0')
		    , ?
		    , ?
		    , ?
		    , ?
		    , ?
		  )
	
	</entry>
	
	<entry key="세부이미지 첨부">
	
	</entry>
	
	<entry key="상품테이블 수정">
		UPDATE
				PRODUCT
			SET LOCAL_CODE = ?
		      , THEME_CODE = ? 		  
		      , P_NAME = ?
		      , DEATIL_PATH = ?		     
		      , PRICE = ? 
		      , P_STOCK = ?
		      , BASIC_PATH = ?
		  WHERE P_CODE = ?   	
	</entry>
	
	<entry key="세부이미지 수정">
	
	</entry>
	
		<!-- 썸네일리스트로 상품보기 searchView 페이지에서 조회시 대표이미지만 불러오기 -->
	<entry key="selectThList">
		SELECT 
				P_CODE
			  , P_NAME
			  , PRICE
			  , BASIC_PATH
		   FROM PRODUCT	
		  WHERE P_STATUS = 'Y' 
		  ORDER BY P_CODE DESC       	
	</entry>
	
	
	<!-- InfoPdt에서 조회될 상품리스트 선택 -->
	<entry key="selectInfoProduct">
		SELECT 
			    P_NAME
			  , P_CODE
			  , PRICE
			  , BASIC_PATH
			  , DEATIL_PATH
		   FROM PRODUCT	
		  WHERE P_CODE = ?
		    AND P_STATUS = 'Y' 	
	</entry>
	
	<!-- 좋아요 카운트 -->
	<entry key="likeCount">
		SELECT COUNT(*) COUNT
		  FROM TLIKE
		 WHERE MEM_NO = ?
		   AND P_CODE = ?
	</entry>
	
	<!-- 결제페이지에서 조회되는 컬럼들 -->
	
	

</properties>