
/* *{border: 1px solid red;} */

/* .outer 스타일 통일 */
.outer{
    height: 700px;
    width: 800px;
    margin: 30px 20px;
    float: left;
  }
    
    
    /* 구분선 */
    .divisionLine{
        width: 90%; height: 5px; 
        background-color: lightgray; }
    
    /* 공지사항 등록 폼 */
    .enrollForm{
        /* margin-left:20px; */
        padding-top: 40px;
        padding-bottom: 40px;
        width: 760px;
        border:1px solid gray;}
    #enrollTable *{
        padding:5px;
    }
    .bottomArea{width:800px;}
    
    /* 버튼 */
    .bottomArea{
    	margin-left:50px;
        float:right;
    }
    #deleteBtn a, #backBtn a, #nUpdateBtn{
    text-decoration: none; 
    text-align: center;
    color:white; 
    background-color: dimgray;
    display: block;
    padding:7px;
    border-radius:4px;
    width:100px;
    }
    
    #nUpdateBtn{
    text-decoration: none; 
    text-align: center;
    color:white; 
    background-color: dimgray;
    display: block;
    border-radius:4px;
    width:100px;
    }
    #deleteBtn1{margin-left: 50px;}
    #backBtn2{margin-left: 350px;}

    /* 목록으로 버튼만 보이게 할 경우 */
    /* #btn4{margin-left: 650px;} */
    
    #deleteBtn a:hover, #backBtn a:hover, #nUpdateBtn a:hover{
    text-decoration: none; 
    background-color: orange;
    color:white;}
    
    
    
    