<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- memberUpdate css -->
    <link rel="stylesheet" href="../resources/css/memberUpdate.css">

    <!-- memberUpdate jQuery -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="memberUpdate_wrap">
        <img src="../resources/images/user_image.jpg" alt="" style="width:50px;">
        <br><br>

        <table class="memberUpdate_content">
            <tr>
                <th>아이디</th>
                <td><span style="margin-left:20px;">user01</span></td>
            </tr>
            <tr>
                <th>이름*</th>
                <td><input type="text" name="" id="name_text"></td>
            </tr>
            <tr>
                <th>비밀번호*</th>
                <td><input type="password" name="" id="password_text"></td>
            </tr>
            <tr>
                <th>비밀번호 확인*</th>
                <td><input type="password" name="" id="passwordChk_text"></td>
            </tr>
            <tr>
                <th>전화번호*</th>
                <td><input type="text" name="" id="phone_text"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>                    
                    <input type="text" name="" id="email_text" style="margin-left: 20px;">
                    @
                    <input type="text" name="" id="email_text">
                </td>
            </tr>
            <tr>
                <th>생년월일</th>
                <td>
                <span class="birthyy"><input type="text" name="" id="birthyy" placeholder="년(4자)"></span>
                    <span class="birthmm">
                        <select name="" id="" >
                            <option value>월</option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </span>
                    <span class="birthdd">
                        <select name="" id="" >
                            <option value>일</option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </span>
                </td>
            </tr>
        </table>
        <br>
        <div class="btn_Area">
            <a href="" class="btn btn-secondary">회원정보수정</a>
            <a href="" class="btn btn-secondary">회원탈퇴</a>
        </div>
    </div>
</body>
</html>