<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">


<properties>

	<entry key="selectListCount">
		SELECT COUNT(*) LISTCOUNT 
			   FROM PRODUCT	
	</entry>

	<entry key="selectProductList">	
		SELECT * 
		  FROM (
		  		SELECT
		  			  ROWNUM RNUM
					  , PDT. *
		  		   FROM (
			  			SELECT 
						        P_CODE
						      , P_NAME
						      , PRICE
						      , P_STOCK
						      , P_STATUS
						   FROM PRODUCT 
						  ORDER
						     BY P_CODE DESC
		  			) PDT	  
		  		
		  	  )
		WHERE RNUM BETWEEN ? AND ? 	  
	</entry>

	<!-- product테이블에 상품추가 -->
	<entry key="insertProduct">
		INSERT 
		  INTO PRODUCT
		  (
		       LOCAL_CODE
		     , THEME_CODE 		  
		     , P_CODE
		     , P_NAME
		     , BASIC_PATH
		     , PRICE 
		     , P_STOCK
		     , DEATIL_PATH		     
		  )
		  VALUES
		  (
		      ?
		    , ?
		    , 'JEJUWA'||LPAD(SEQ_PNO.NEXTVAL, 5, '0')
		    , ?
		    , ?
		    , ?
		    , ?
		    , ?
		  )
	
	</entry>
	
	<!-- ATTACHMENT테이블에 세부이미지 첨부 -->
	<entry key="insertAttachment">
		INSERT 
			INTO ATTACHMENT
			(
				FILE_NO
			  , ORG_FILENAME
			  , MDF_FILENAME
			  , FILE_PATH
			  , P_CODE
			)
			VALUES
			(
			    SEQ_FNO.NEXTVAL
			  , ?
			  , ?
			  , ? 
			  , 'JEJUWA'||LPAD(SEQ_PNO.CURRVAL, 5, '0')
			)
	
	</entry>
	
	
	<!-- 상품등록된 정보   수정페이지에서 조회  -->
	<entry key="selectProduct">
		SELECT 
		        LOCAL_CODE
		      , THEME_CODE 
		      , P_CODE 
		      , P_NAME
		      , BASIC_PATH
		      , PRICE
		      , P_STOCK
		      , DEATIL_PATH
		   FROM PRODUCT 
		   JOIN LOCAL USING(LOCAL_CODE)
		   JOIN THEME USING(THEME_CODE)
		   WHERE P_CODE = ? 	
	</entry>
	
	<entry key="selectAttachment">
		SELECT 
				FILE_NO
			  , ORG_FILENAME
			  , MDF_FILENAME
			  , FILE_PATH
			  , P_CODE
		  FROM ATTACHMENT	  
		  WHERE P_CODE = ?	  	
	</entry>

	<!-- 상품수정 DB에서 삭제 말고 노출이 안되는 걸로 -->
	<entry key="deleteProduct">
		UPDATE
		       PRODUCT
		   SET P_STATUS = 'N'
		 WHERE P_CODE = ?		
	</entry>	
	
	<entry key="updateProduct">
		UPDATE
				PRODUCT
			SET LOCAL_CODE = ?
		      , THEME_CODE = ? 		  
		      , P_NAME = ?
		      , DEATIL_PATH = ?		     
		      , PRICE = ? 
		      , P_STOCK = ?
		      , BASIC_PATH = ?
		  WHERE P_CODE = ?   	
	</entry>
	
	<entry key="updateAttachment">
		UPDATE 
				PRODUCT
			SET ORG_FILENAME = ?
			  , MDF_FILENAME = ?
			  , FILE_PATH = ?
		  WHERE P_CODE = ?	
	</entry>
	
	<!-- 상품수정시 세부이미지 새로추가될때  -->
	<entry key="insertNewAttachment">
		INSERT
		  INTO ATTACHMENT
		  (
		    FILE_NO
		  , P_CODE
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  )
		  VALUES
		  (
		    SEQ_FNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>	
	
	<!-- 썸네일리스트로 상품보기 searchView 페이지에서 조회시 대표이미지만 불러오기 -->
	<entry key="selectThList">
		SELECT 
				P_CODE
			  , P_NAME
			  , PRICE
			  , BASIC_PATH
		   FROM PRODUCT	
		  WHERE P_STATUS = 'Y' 
		  ORDER BY P_CODE DESC       	
	</entry>
	
	<!-- InfoPdt에서 조회될 상품리스트 선택 -->
	<entry key="selectInfoProduct">
		SELECT 
			    P_NAME
			  , P_CODE
			  , PRICE
			  , BASIC_PATH
			  , DEATIL_PATH
			  , LOCAL_NAME
			  , THEME_NAME
		   FROM PRODUCT	
		  RIGHT JOIN LOCAL USING(LOCAL_CODE)
		  RIGHT JOIN THEME USING(THEME_CODE)
		  WHERE P_CODE = ?
		    AND P_STATUS = 'Y' 	
	</entry>
	
	<!-- Info안에 들어갈 세부이미지 선택 -->
	<entry key="selectFileList">
		SELECT
				FILE_NO
			  , ORG_FILENAME
			  , MDF_FILENAME
			  , FILE_PATH
		   FROM ATTACHMENT	
		  WHERE P_CODE = ?
	</entry>	
	
	<!-- 카테고리 TR -->
	<entry key="selectThList_TR">
		SELECT * 
		  FROM (
		  		SELECT
		  			  ROWNUM RNUM
					  , PDT. *
		  		   FROM (
				SELECT 
						P_CODE
					  , P_NAME
					  , PRICE
					  , BASIC_PATH
				   FROM PRODUCT	
				  WHERE P_STATUS = 'Y' 
				    AND THEME_CODE = 'TR'
				  ORDER BY P_CODE DESC  
				  			) PDT	  
				  		
		  	  )
		WHERE RNUM BETWEEN ? AND ? 	      	
	</entry>
	
	<entry key="selectListCount_TR">
		SELECT COUNT(*) LISTCOUNT 
			   FROM PRODUCT	
		 WHERE THEME_CODE = 'TR'  
	</entry>			


	<entry key="selectThList_TT">
		SELECT * 
		  FROM (
		  		SELECT
		  			  ROWNUM RNUM
					  , PDT. *
		  		   FROM (	
						SELECT 
								P_CODE
							  , P_NAME
							  , PRICE
							  , BASIC_PATH
						   FROM PRODUCT	
						  WHERE P_STATUS = 'Y' 
						    AND THEME_CODE = 'TT'
						  ORDER BY P_CODE DESC 
				  			) PDT	  
				  		
		  	  )
		WHERE RNUM BETWEEN ? AND ? 	       	
	</entry>

	<entry key="selectListCount_TT">
		SELECT COUNT(*) LISTCOUNT 
			   FROM PRODUCT	
		 WHERE THEME_CODE = 'TT'  
	</entry>		
	
	<entry key="selectThList_AY">
		SELECT * 
		  FROM (
		  		SELECT
		  			  ROWNUM RNUM
					  , PDT. *
		  		   FROM (	
						SELECT 
								P_CODE
							  , P_NAME
							  , PRICE
							  , BASIC_PATH
						   FROM PRODUCT	
						  WHERE P_STATUS = 'Y' 
						    AND THEME_CODE = 'AY'
						  ORDER BY P_CODE DESC 
				  			) PDT	  
				  		
		  	  )
		WHERE RNUM BETWEEN ? AND ? 	      	
	</entry>

	<entry key="selectListCount_AY">
		SELECT COUNT(*) LISTCOUNT 
			   FROM PRODUCT	
		 WHERE THEME_CODE = 'AY'  
	</entry>			
	
	
	<entry key="selectThList_FD">
		SELECT * 
		  FROM (
		  		SELECT
		  			  ROWNUM RNUM
					  , PDT. *
		  		   FROM (	
						SELECT 
								P_CODE
							  , P_NAME
							  , PRICE
							  , BASIC_PATH
						   FROM PRODUCT	
						  WHERE P_STATUS = 'Y' 
						    AND THEME_CODE = 'FD'
						  ORDER BY P_CODE DESC 
				  			) PDT	  
				  		
		  	  )
		WHERE RNUM BETWEEN ? AND ? 	      	
	</entry>
	
	<entry key="selectListCount_FD">
		SELECT COUNT(*) LISTCOUNT 
			   FROM PRODUCT	
		 WHERE THEME_CODE = 'FD'  
	</entry>	
	
	<!-- 관리자페이지에서 검색기능 -->
	<entry key="adminSearchpName">
		SELECT
				  P_CODE
				, P_NAME
				, PRICE
				, P_STOCK
				, P_STATUS
			 FROM PRODUCT
			WHERE P_NAME LIKE ?  
			ORDER BY P_CODE DESC	
	</entry>
	
	<entry key="adminSearchLocal">
		SELECT
				  P_CODE
				, P_NAME
				, PRICE
				, P_STOCK
				, P_STATUS
			 FROM PRODUCT
            RIGHT JOIN LOCAL USING(LOCAL_CODE)
			WHERE LOCAL_NAME LIKE ?  
			ORDER BY P_CODE DESC	
	</entry>
		
	<entry key="adminSearchTheme">
		SELECT
				  P_CODE
				, P_NAME
				, PRICE
				, P_STOCK
				, P_STATUS
			 FROM PRODUCT
            RIGHT JOIN THEME USING(THEME_CODE)
			WHERE THEME_NAME LIKE ?  
			ORDER BY P_CODE DESC	
	</entry>	
	
	
	<!-- 사용자페이지에서 검색기능 -->
	<entry key="userSearchpName">
			SELECT
					  P_CODE
					, P_NAME
					, PRICE
					, BASIC_PATH
				 FROM PRODUCT
			    WHERE P_STATUS = 'Y'
				  AND P_NAME LIKE ?
				ORDER BY P_CODE DESC		  
	</entry>	

	<entry key="selectListCount_User">
	
		SELECT COUNT(*) LISTCOUNT 
			   FROM PRODUCT	  
	</entry>
	
	<entry key="bestSelect">
	<![CDATA[
    SELECT *
    FROM(
        SELECT 
        		P_CODE
        	  , P_NAME
        	  , PRICE
        	  , BASIC_PATH
        	  , P_STOCK
        	  , RANK() 
        	    OVER(ORDER BY P_STOCK ASC) rankPDT
           FROM PRODUCT
          WHERE P_STOCK != 0
    	)
    WHERE rankPDT <= 3]]>		    
	</entry>
	
	<entry key="saleSelect">
 		SELECT * 
		  FROM (
		  		SELECT
		  			  ROWNUM RNUM
					  , PDT. *  
                      FROM(      
                        SELECT DISTINCT T.P_CODE,
                                  P_NAME
                                , PRICE
                                , BASIC_PATH
                            FROM TORDER T   
                            JOIN PRODUCT P ON( T.P_CODE=P.P_CODE)
                            WHERE P_STATUS = 'Y'
                                            ) PDT	  
		  		
		  	  )
		WHERE RNUM BETWEEN 1 AND 6
	</entry>			

	<entry key="highPrice_TT">
				SELECT 
				       P_CODE
				     , P_NAME
				     , PRICE
				     , BASIC_PATH
				  FROM PRODUCT 
		         WHERE THEME_CODE = 'TT'
		         ORDER BY PRICE DESC                               
	</entry>			
	<entry key="selectThList_SS">
		SELECT 
			   P_CODE
			 , P_NAME
		     , PRICE
			 , BASIC_PATH
		  FROM PRODUCT	
		 WHERE P_STATUS = 'Y' 
		   AND LOCAL_CODE = 'SS'
		 ORDER BY P_CODE DESC 
	</entry>				
	
	<!-- 좋아요 카운트 -->
	<entry key="likeCount">
		SELECT COUNT(*) COUNT
		  FROM TLIKE
		 WHERE P_CODE = ?
		   AND MEM_NO = ?
	</entry>
	
	
	<!-- 결제페이지에서 조회되는 컬럼들 -->
	<entry key="selectPayment">
		 SELECT 
			    P_NAME
			  , P_CODE
			  , PRICE
			  , BASIC_PATH
			  , DEATIL_PATH
		   FROM PRODUCT	
		  WHERE P_CODE = ?
		    AND P_STATUS = 'Y'

	</entry>

	
	<!-- 결제페이지에서 쿠폰리스트 조회 -->
	<entry key="">
		SELECT
		       CPN_CODE
		     , CPN_NAME
		     , CPN_DC
		     , CPN_RGDT
		     , CPN_STR_DATE
		     , CPN_END_DATE
		     , CPN_MIN
		     , MEM_NO
		  FROM COUPON
		  JOIN CPN_PM USING (CPN_CODE)
		 WHERE MEM_NO = ?

	</entry>
</properties>