@charset "UTF-8";
    
/* *{border: 1px solid red;} */

.outer{
    height: 890px; width: 860px;
    margin: 20px;
}
.title{font-size: 24px; font-weight: bold;}
.divisionLine{
    width: 90%; height: 5px;  
    background-color: lightgray;
    margin-top: 10px;
}    
/* 입력폼 */
#pdtUpdateForm table {margin:30px 30px;}         
#pdtUpdateForm input{margin:10px; border: 1px solid silver;}
select, span{margin-left: 10px;}
td, span{font-size: 14px; padding: 3px 0;}

               
/* 버튼 */
.btnArea{width: 690px; margin: 70px 70px}
.btnArea button:hover{background-color: orange; clolr:white;}
.btnArea>button>* {
    text-decoration: none; 
    line-height: 25px;
    display: block;
    color:white;
  }

 .btnArea>button{ 
    background-color: dimgray;
    width: 100px;    
    height: 30px;
    text-align: center;
    border-radius: 5px;
    float:right;
    margin-left: 30px;
    outline: none;
    color:white;
    border: none;
  }
            

  /* modal */

.modal-content_pdt{
	width: 385px;     
	background: whitesmoke;
    padding: 15px;
    border-radius: 2px;
}
#modalContent{margin-left:50px;}
#modalContent input{
    border: 1px solid lightgray;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
    padding:10px;
  }
#okBtn, #cancleBtn{
    color:white;
    width:160px;
    margin-right:10px;
    padding:8px;
  }
#modalFooter {
    margin: 10px 0 15px 9px;
}
