@charset "UTF-8";
  
/* *{border: 1px solid pink;} */
*{ box-sizing: border-box;}
.outer{
  height: 700px;
  width: 800px;
  margin: 30px 20px;
  float: left;
  margin: auto;
  margin: 20px 0 0 30px;
}
.title{font-size: 24px; font-weight: bold;}

/* header */
.header{padding-left: 20px;}

/* div */
.divisionLine{ 
  width: 90%; height: 5px; 
  background-color: lightgray;
  margin-top: 10px; 
}
.listArea{margin: 100px 20px;} 

/* searchArea */
.searchArea{
    float: left;
    width: 280px;
    outline: none;
    margin-left: 5px;
    position: relative;
}
.searchForm{float: left; margin: auto; }
.searchForm select, .searchForm input{
  height: 30px; 
  border-radius: 3px;
  border:1px solid rgb(146, 145, 145);
}
button#searchBtn {
    float: left;
    margin:-30px 258px 0;
    position: absolute;
}
.searchArea button{
  position: relative;
  margin-left: -38px;
  background-color: rgb(226, 225, 225);
  border:1px solid rgb(146, 145, 145);
  color:white; 
  width: 40px;    
  height: 30px;
  border-radius: 5px;
  display: block;
  float: right; 
}

/* 버튼 */
.btnArea{
  float: left;
  margin:auto;
  margin-left: 620px;
  margin-top: -25px;
}
#enrollBtn a{text-align: center; text-decoration: none; color: white;}
#deleteBtn{margin-right: 5px;}

#enrollBtn, #deleteBtn{
  background-color: dimgray;
  color:white; 
  width: 60px;    
  line-height: 25px;
  border-radius: 5px;
  font-size: 13px;
  border: none;
  outline: none;
}


#enrollBtn:hover, #deleteBtn:hover {background-color: orange;}
/* .btnArea a{float: left;} */


/* 테이블 */
table *{border:1px solid rgb(226, 225, 225); padding:3px }
.pdtListView{
  width: 750px;
  margin:24px 20px; 
  float : left;
  text-align: center;
  border-collapse: collapse;
}
.pdtListView th {
  background-color: rgb(226, 225, 225); 
  color:black; 
  font-size:15px; 
  height:27px;
}
.pdtListView tr:hover  {background-color: rgb(255, 226, 173);}
.pdtListView td{
  border-bottom: 1px solid silver;
  height:26px;
  font-size: 14px;
}

  /* modal */
  .modal-content{width: 380px;}
  #modalContent{margin-left:50px;}
  #modalContent input{
      border: 1px solid lightgray;
      border-bottom-right-radius:4px;
      border-top-right-radius:4px;
      padding:10px;
    }
  #okBtn, #cancleBtn{
      color:white;
      width:160px;
      margin-right:10px;
      padding:8px;
    }
  #modalFooter {
      margin: 10px 0 15px 9px;
  }
  
/* 페이징 구역 */
.pagingArea{
    margin: 15px;
    margin-left:260px;
}
.pagingArea *{
    float:left;
    margin-right: 5px;
    margin-top: 9px;
    border-radius:3px; }       
