/* * {border: 1px solid pink;} */
*{margin:0;}

a *{ color: black; text-decoration: none;}
ul{list-style: none; padding: 0;}
div{box-sizing: border-box;}

.content_wrap{width: 1000px; height: 600px; margin: auto;}

.content_wrap>div{width: 100%;}
.content{height:1350px;}

.content>div{height: 100%; float: left;}
.side{width: 20%;}
.main{width: 80%;}


/* 구분선 */
.divisionLine{
    width: 80%; height: 2px; 
    background-color: lightgray;
    margin: 30px 15px;
}

/* 공통 위치side/main */
.detailSearch.sortBar.category.pdt_wrap, .pasingArea{float: left;}
.detailSearch{margin-top: 50px; padding: 10px;}

/* side */
.detailSearch p{ font-size: 18px; font-weight: bold;}
.map{margin: 15px 0; position: relative}

.filter{background-color: rgb(243, 242, 242 ); height: 540px;}
.filter p{padding: 15px 0 0 10px;}
/* price */
.rating, .priceSearch {
    margin: 15px 5px 0 15px;
    font-size: 14px;
}
.rating input, .priceSearch button{
    margin-top: 10px ;
}
.priceSearch button{
    background-color: lightgray;
    border: none;
    outline: none;
    border-radius: 5px;
     padding: 0;
}
.priceSearch ul li{ float: left;}
.priceSearch li{padding: 2px 8px;}
.range{
    margin:auto;
    margin-left: -8px;
}
.range input, .lowest, .hightest{
    width: 68px;
}
.range div{
    float: left;
    margin: auto;
    margin: 0 3px;
}

/* btn */
.btnArea{
    float: left;
    margin: 50px 17px;
}
.btnArea>a{
    background-color: lightgray;
    padding: 4px 10px;
    border-radius: 5px;
    margin: 20px 5px 0 5px;
    color: black;
}


.btnArea a:hover{
    background-color: rgba(15, 15, 77, 0.836);
    color: white;
    text-decoration: none;
}

/* 정렬 */
.sortBar{height: 5%; margin:80px 65px 10px 0; }
.sortBar>a{font-size: 12px; color:black;}
.sortBar>a:hover{cursor:pointer; color:black; text-decoration:none;}

/* 카테고리 */
.category{height: 6%; margin: 0px 17px; 
}
.category ul li {
    float: left;
    text-align: center;
    cursor: pointer;
}

.category li.current{
    width: 155px;
    height: 35px;
    margin-right: 8px;
    background-color: orange;
    color:white;
    border-radius: 5px;
    font-size: 14px;

}

.category li{
    width: 155px;
    height: 35px;
    padding: 5px 10px;
    margin-right: 8px;
    background-color: lightgray;
    border-radius: 5px;
    font-size: 14px;
}
.category li:hover{background-color: orange; color: white;}
.category a{text-decoration: none; color: inherit;}

/* 상품리스트 */
.pdt_wrap{
    overflow: hidden;
    margin-top: 30px;
    margin-left: 16px;
}
.pdtBox{
    width: 220px;
    height: 260px;
}

.pdtList{margin: auto; padding: 0 5px;}
.pdtList li{
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px ;
    margin-bottom: 23px;
    border-radius: 3px;  
}
.pdtInfo{text-align: center; margin: 10px;}
.pdtPrice{font-size: 15px;}

.pdtArea:hover{
	box-shadow: rgb(33 37 41 / 10%) 0px 4px 8px 0px; 
	cursor: pointer;
}

/*페이징  */
#pagingArea {
	    float: left;
	    margin: 70px 315px;
}
#pagingArea button{
	border:none;
	backgroung-color: white;
}